body {
  font-size: 16px;
  color: black;
   font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 2px solid black;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
   color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 0;
  }

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.menu-item-title {
	color:black;
	text-align: center;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;

}

.menu-item-details {
	margin-left: 10px;
	margin-right: 5px;
}

.our-menu {
	color:black;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	font-weight: bold;
}


.description{
	background-color:grey;
	margin-top: 25px;
   }